<h2>Nearest Station</h2>
<p> <%= @nearest_station.name %></p>
<p> <%= @nearest_station.access_times %></p>
<p> <%= @nearest_station.distance %></p>
<p> <%= @nearest_station.fuel_type %></p>
<p> <%= @nearest_station.address %></p>
<p> <%= @nearest_station.time %></p>
<p> <%= @nearest_station.narrative %></p>
<p> <%= @nearest_station.narrative1 %></p>
