<h2>Nearest Station</h2>
<p class = "name"> <%= @nearest_station.name %></p>
<p class = "access-time"> <%= @nearest_station.access_times %></p>
<p class = "distance"> <%= @nearest_station.distance %></p>
<p class = "fuel-type"> <%= @nearest_station.fuel_type %></p>
<p class = "address"> <%= @nearest_station.address %></p>
<p class = "travel-time"> <%= @nearest_station.time %></p>
<div class="directions">
<p> <%= @nearest_station.narrative %></p>
<p> <%= @nearest_station.narrative1 %></p>
</div>
